<template name="topicList">
  <div class="topic-list-layout row">
    <!-- <h3 class="page-title">Current Conversations</h3> -->
    {{#if currentUser}}
    <div class="submit-topic col-md-2">
      <h5>Welcome!</h5>
      <p>I hope you enjoy your time here and leave with some new ideas and perspectives. If you'd like to propose a topic, simply fill in the box below with your idea!</p>
      <form class="new-topic">
        <input type="text" name="title" placeholder="New topic" />
        <textarea name="description" placeholder="Description"></textarea>
        <input class="btn btn-submit" id="new-topic-submit" type="submit" value="Submit" />
      </form>
    </div>
    {{else}}
    <div class="submit-topic col-md-2">
      <h5>Welcome!</h5>
      <p>I hope you enjoy your time here and leave with some new ideas and perspectives. Please log in or sign up for an account to contribute to the conversation!</p>
    </div>
    {{/if}}
    <div class="topic-list col-md-10">
      <h4 class="current-conversations">Current Conversations</h4>
      <ul>
        {{#each topics}}
          {{> topicItem}}
        {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name="topicItem">
  <li class="topic-item">
    <div class="topic-item-header">
      <span class="topic-item-info">{{username}} - {{displayTopicDate _id createdAt}}</span>
      <span class="topic-item-comments">{{numberOfPosts _id}}</span>
    </div>
    <div class="topic-item-preview">
      <a href={{path}}{{_id}}>{{title}}</a>
      <span class="preview-text">{{description}}</span>
      <!-- <button class="delete">&times;</button> -->
    </div>
  </li>
</template>